@tailwind base;

@tailwind components;

@tailwind utilities;

/*Custom code*/
body {
    font-family: 'Poppins', sans-serif;
}

input::placeholder, textarea::placeholder {
    padding-left: 1rem;
}

.animate-shake {
    animation-name: delayed-shake;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-iteration-count: 99;
}

@keyframes delayed-shake {
    0% {rotate: 0deg}
    4% {rotate: 15deg}
    8% {rotate: -15deg}
    12% {rotate: 0deg}
    100% {rotate: 0deg}
}

.animate-rotating {
    animation: rotating 10s infinite linear;
}

@keyframes rotating {
    0% {rotate: 0deg}
    99% {rotate: 359deg;}
    100% {rotate: 360deg;}
}